.navbar-container{
    justify-content: flex-start;
    align-items: flex-start;
    border: solid lightgray 1px;
    
    background-color: rgba(240,128,98,.7);
    background-color: whitesmoke;
    background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/120611773_340390204053204_4170628669939432156_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=973b4a&_nc_ohc=dfzDuU9s6HAAX_bMsem&_nc_ht=scontent-dfw5-1.xx&oh=760cf5daae7bc20b3ac706020b6ed839&oe=60F4DC9B");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-shader{
    background-color: white;
    background-color: rgba(255,255,255,.87);
    height: 99.8vh;
}

.navbar-logo{
    height: auto;
    width: 15rem;
}

.nav-ul{
    list-style: none;
    padding: 0;
}

.nav-ul li a{
    text-decoration: none;
}

.nav-item-text{
    margin: 0;
    border-bottom: solid 2px rgba(30,30,30,.6);
    border-bottom: solid 2px lightgray;
    color: rgba(30,30,30,.8);
    text-align: left;
    padding: 7px 0px 7px 25px;

    text-decoration: none;
}

.nav-li:hover{
    background-color: rgba(90,185,162,.75);
}

.nav-li:hover .nav-item-text{
    color: white;

}