/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .small-device-navbar{
        display: block !important;
    }

    .big-device-navbar{
        display: none !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .small-device-navbar{
        display: block !important;
    }

    .big-device-navbar{
        display: none !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .small-device-navbar{
        display: none !important;
    }

    .big-device-navbar{
        display: block !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.navbar-container{
    justify-content: flex-start;
    align-items: flex-start;
    border: solid lightgray 1px;
    
    background-color: rgba(240,128,98,.7);
    background-color: whitesmoke;
    background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/120611773_340390204053204_4170628669939432156_n.jpg?_nc_cat=103&ccb=1-4&_nc_sid=8bfeb9&_nc_ohc=2aaXaV-GoRkAX89c5R1&_nc_ht=scontent-dfw5-1.xx&oh=c43dc3a0013b4db12d6a7db2c11b000e&oe=6138191B");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-shader{
    background-color: white;
    background-color: rgba(255,255,255,.8);
    height: 99.8vh;
}

.navbar-logo{
    height: auto;
    width: 12rem;
}

.nav-ul{
    list-style: none;
    padding: 0;
}

.nav-ul li a{
    text-decoration: none;
}

.nav-item-text{
    margin: 0;
    border-bottom: solid 2px rgba(30,30,30,.6);
    border-bottom: solid 2px lightgray;
    color: rgba(30,30,30,.8);
    text-align: left;
    padding: 7px 0px 7px 25px;

    text-decoration: none;
}

.nav-li:hover{
    background-color: rgba(90,185,162,.75);
}

.nav-li:hover .nav-item-text{
    color: white;

}