/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .basket-items{
        overflow: visible;
        overflow-y: visible;
        height: fit-content;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .basket-items{
        overflow: visible;
        overflow-y: visible;
        height: fit-content;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .basket-items{
        overflow: hidden;
        overflow-y: scroll;
        height: 100vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

#basket-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-items{
    justify-content: center;
}

.checkout-box{
    padding: 10px 20px 15px;
    background-color: rgba(0,0,0,.1);
}

.checkout-btn{
    width: 100%;
}

.checkout-btn-text{
    margin: 0;
    padding: 5px 0;
}

.checkout-details-box{
    background-color: white;
    text-align: right;
    padding: 10px 30px;
}

.single-detail-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}