
.products-banner-img{
    background-image: url("https://i.pinimg.com/originals/1c/65/af/1c65af8070a26b1f063abfb467e32703.jpg");
    background-image: url("https://scontent-dfw5-2.xx.fbcdn.net/v/t1.6435-9/124574834_371990417559849_240305258807556833_n.jpg?_nc_cat=109&ccb=1-4&_nc_sid=e3f864&_nc_ohc=RDrHEKJ1NNIAX9nly4i&_nc_ht=scontent-dfw5-2.xx&oh=1138bc7ae0cd28bdbe0618603a2bb6e5&oe=61370B68");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.products-banner-shader{
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.banner-name{
    text-align: left;
    color: white;
}